/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --primary-gray: #33444d;
}
.bg-primary {
  background-color: var(--primary-gray);
}
.bg-button-green {
  background-color: #7dbc67;
  &:hover {
    background-color: #6fa057;
  }

  &:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
  }
}

.bg-button-red{
  background-color: #e74c3c;
  &:hover {
    background-color: #be6056;
  }

  &:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
  }
}

.text-green-link {
  color: #7dbc67;
}
* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
